$black: #000000;
$white: #FFFFFF;
$grey-dark: #6E6E6E;
$grey: #C8C8C8;
$grey-light: #F1F1F1;
$error: #D92C2C;
$success: #007E06;
$product-blue: #106DA1;
$product-brown: #AE6D0C;
$product-black: #444444;

$mobile-width: 320px;
$desktop-width: 1328px;
